<!-- <header></header>
<div class="sidebar"></div>
<article>
  <router-outlet></router-outlet>
</article>
<footer></footer> -->

<header id="header">
  <nav>
    <ul>
      <li>Our menu</li>
      <li><button (click)="logout()">logout</button></li>
    </ul>
  </nav>
</header>

<!-- <aside>
  <h2>Side bar section</h2>
  <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
  <a [routerLink] = "['reminders']">reminders</a>
</aside> -->
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <h2>Side bar section</h2>
  <p>Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
  <a [routerLink] = "['reminders']">reminders</a>

  <p><a [routerLink] = "['notes']">My Notes</a></p>
  
  </mat-drawer>
  <mat-drawer-content>
    <section>

      <article>
        <header>
          <h2>Router-Outlet</h2>
          <p>everything rendered of notebooks and reminders will be here</p>
          <router-outlet></router-outlet>
        </header>
      </article>
    
    
    
    </section>
  </mat-drawer-content>
</mat-drawer-container>






