/* *{
  border: 1px solid red;
} */

mat-drawer-container{
  height: 1000px;
}

mat-drawer{
  width: 300px;
  /* height: 1000px; */
  /* float: left; */
  /* position: relative ; */
  border: 1px solid red;
  /* clear: right; */
}

header#header{
  border: 1px solid blue;
  height: 50px;
}


