<mat-toolbar>
  <span>Welcome Dear {{username}}</span>
</mat-toolbar>


<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
   <div>
     <img id="logo" src="https://cdn.jim-nielsen.com/ios/512/awesome-note-2012-05-24.png">
   </div>
   <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item class="pointer" [routerLink] = "['reminders']">
      <mat-icon mat-list-icon>alarm</mat-icon>
      Reminders
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="pointer" [routerLink] = "['notes']">
      <mat-icon mat-list-icon>note</mat-icon>
      Notes
    </mat-list-item>
  </mat-list>

  <button style="margin-top: 50%; margin-left: 25%;" (click)="logout()" mat-raised-button color="primary">
    <mat-icon>power_settings_new</mat-icon> logout</button>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>






