<div class="container">
    <div class="row">
        <div class="col-4" id="notes-title" >
            <mat-card-title>Notes</mat-card-title>
            <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let note of noteTitles" (click)="getNoteContent(note)">
                  <mat-icon mat-list-icon>note</mat-icon>
                  <div mat-line>{{note}}</div>
                </mat-list-option>
            </mat-selection-list>

        </div>

        <div class="col-8">
            <form class="note-form">
                <button mat-raised-button color="basic" (click)="createNote()">Create New Note</button>
                <button mat-raised-button color="primary" (click)="saveNote()">Save</button>
                <button mat-raised-button color="warn" (click)="deleteNote()">Delete</button>
                <hr/>
                <mat-form-field class="note-full-width" hintLabel="Max 50 characters" appearance="outline">
                    <mat-label>Note Title</mat-label>
                    <input matInput #inputTitle maxlength="50" placeholder="Ex. Submit Homework At"
                        value="{{noteItem?.title}}">
                    <mat-hint align="end"></mat-hint>
                </mat-form-field>

                <mat-form-field class="note-full-width" appearance="fill">
                    <mat-label>Note Content</mat-label>
                    <textarea rows="15" matInput #inputContent value="{{noteItem?.content}}">
                </textarea>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>